/*!
 * Copyright (c) 2020 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

#main-sidebar {
  &:after{
	display:none;
  }
  margin-top:50px;
  .sidebar-item {
    margin-bottom:20px;
    background-color: @brand-primary;
    padding:17px 0 10px;
    &.active {
      background-color: @brand-secondary;
      a {
        color:#fff;
      }
      &:hover {
        background-color: darken(@brand-secondary, 15%);
      }
    }
    &:hover:not(.active) {
      background-color: darken(@brand-primary, 15%);
      a {
        color:darken(@main-sidebar-color, 20%);
      }
    }
  }
  .sidebar-sub-items {
    background-color:#fff;
    margin-top:-20px;
    a {
      &:hover {
        font-weight:bold;
      }
    }
  }
  .sidebar-sub-item {
    padding:0 0 8px 15px;
    margin-bottom:0;
    a.active {
      .sidebar-text {
        font-weight:bold;
      }
    }
    &:first-child {
      margin-top:15px;
    }
    &:last-child {
      margin-bottom:15px;
    }
  }
  a {
    display: block;
    .feather {
      width:40px;
      height:40px;
      stroke-width: 1;
      margin: 0 20px 0 0px;
    }
    .sidebar-text {
      padding:8px 0 0;
    }
  }
}